:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --off-white: #faf8f7;
    --just-white: #fff;
    --grey: #bababa;
}
html{
    font-size: 62.5%;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Section Header*/
header{
    position: relative;
    width: 100%;
    height: 88vh;
    background: linear-gradient(208.83deg, var(--black) 16.69%, var(--bitcoin-orange) 100% );
}
header picture{
    display: flex;
    justify-content: center;
}
header picture img{
    margin-top: 60px;
}
h1{
    text-align: center;
    margin-top: 28px;
    padding: 28px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.5rem;
    color:var(--just-white);
}
header p{
    text-align: center;
    padding: 0px 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--off-white);
}
header a{
    position: absolute;
    width: 220px;
    height: 45px;
    left: calc(50% - 110px);
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.2;
    color: var(--black);
    border-radius: 5px;
    background-color: var(--off-white);
    box-shadow: 1px 4px 2px  rgba(89, 73, 30, 0.16);

}
header a i{
    display: inline-block;
    width: 13px;
    height: 8px;
    background-image: url("../Assets/icons/down-arrow.svg");
}
/*Section Main*/
main{
    width: 100%;
    background-color: var(--off-white);
}

main img{
    position: absolute;
    width: 300px;
    height: 200px;
    left: calc(50% - 150px);
    margin-top: -250px;
}
main section h2{
    margin-top: 320px;
    padding: 0px 18px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.2;
}
main p{
    margin-top: 8px;
    padding: 28px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(99, 99, 99);
}
main .tittleMonedas{
    margin: 10px 0px 20px;
    padding: 0px 18px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.2;
    color: var(--bitcoin-orange);
}
main .containerModedas{
   display: grid;
   grid-template-columns: repeat(2, 100px);
   grid-template-rows: repeat(4, 50px);
   justify-content: center;
   align-items: center;
   grid-column-gap: 2px;
   grid-row-gap: 15px;
}
.leftContainerMonedas1{
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 20px 0px;
    font-size: 1.8rem;
    border-radius: 15px 0px 0px 0px;
    background-color: rgb(255, 255, 255);
}
.leftContainerMonedas2{
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 20px 0px;
    font-size: 1.8rem;
    background-color: rgb(255, 255, 255);
}
.leftContainerMonedas3{
    grid-row: 3/4;
    grid-column: 1/2;
    padding: 20px 0px;
    font-size: 1.8rem;
    background-color: rgb(255, 255, 255);
}
.leftContainerMonedas4{
    grid-row: 4/5;
    grid-column: 1/2;
    padding: 20px 0px;
    font-size: 1.8rem;
    border-radius: 0px 0px 0px 15px;
    background-color: rgb(255, 255, 255);
}
.rightContainerMonedas1{
    grid-row: 1/2;
    grid-column: 2/3;
    padding: 20px 0px;
    font-size: 1.8rem;
    border-radius: 0px 15px 0px 0px;
    background-color: rgb(255, 255, 255);
}
.rightContainerMonedas2{
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 20px 0px;
    font-size: 1.8rem;
    background-color: rgb(255, 255, 255);
}
.rightContainerMonedas3{
    grid-row: 3/4;
    grid-column: 2/3;
    padding: 20px 0px;
    font-size: 1.8rem;
    background-color: rgb(255, 255, 255);
}
.rightContainerMonedas4{
    grid-row: 4/5;
    grid-column: 2/3;
    padding: 20px 0px;
    font-size: 1.8rem;
    border-radius: 0px 0px 15px 0px;
    background-color: rgb(255, 255, 255);
}
.tendenciaDown{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('../Assets/icons/trending-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.tendenciaUp{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('../Assets/icons/trending-up.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.actualizacionMonedas{
    margin-top: 30px;
}
.actualizacionMonedas p{
    text-align: center;
    margin: 15px 65px;
    padding:  5px  15px;
    font-size: 1.4;
    font-weight: bold;
    color: gray;
    border-radius: 10px;
    background-color: var(--soft-orange);
}
.actualizacionMonedas p span{
    font-size: 1.4;
    font-weight: 500;
    color: var(--black);
}
main .tittleComiciones{
    margin: 10px 0px 20px;
    padding: 0px 18px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.2;
    color: var(--secondary-blue);
}
main .containerComiciones{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(4, 50px);
    justify-content: center;
    align-items: center;
    grid-column-gap: 2px;
    grid-row-gap: 15px;
 }
 .leftContainerComiciones1{
     grid-row: 1/2;
     grid-column: 1/2;
     padding: 20px 0px;
     font-size: 1.8rem;
     border-radius: 15px 0px 0px 0px;
     background-color: rgb(255, 255, 255);
 }
 .leftContainerComiciones2{
     grid-row: 2/3;
     grid-column: 1/2;
     padding: 20px 0px;
     font-size: 1.8rem;
     background-color: rgb(255, 255, 255);
 }
 .leftContainerComiciones3{
     grid-row: 3/4;
     grid-column: 1/2;
     padding: 20px 0px;
     font-size: 1.8rem;
     background-color: rgb(255, 255, 255);
 }
 .leftContainerComiciones4{
     grid-row: 4/5;
     grid-column: 1/2;
     padding: 20px 0px;
     font-size: 1.8rem;
     border-radius: 0px 0px 0px 15px;
     background-color: rgb(255, 255, 255);
 }
 .rightContainerComiciones1{
     grid-row: 1/2;
     grid-column: 2/3;
     padding: 20px 0px;
     font-size: 1.8rem;
     border-radius: 0px 15px 0px 0px;
     background-color: rgb(255, 255, 255);
 }
 .rightContainerComiciones2{
     grid-row: 2/3;
     grid-column: 2/3;
     padding: 20px 0px;
     font-size: 1.8rem;
     background-color: rgb(255, 255, 255);
 }
 .rightContainerComiciones3{
     grid-row: 3/4;
     grid-column: 2/3;
     padding: 20px 0px;
     font-size: 1.8rem;
     background-color: rgb(255, 255, 255);
 }
 .rightContainerComiciones4{
     grid-row: 4/5;
     grid-column: 2/3;
     padding: 20px 0px;
     font-size: 1.8rem;
     border-radius: 0px 0px 15px 0px;
     background-color: rgb(255, 255, 255);
 }
 .actualizacionComiciones{
    margin-top: 30px;
}
.actualizacionComiciones p{
    text-align: center;
    margin: 15px 65px;
    padding:  5px  15px;
    font-size: 1.4;
    font-weight: bold;
    color: gray;
    border-radius: 10px;
    background-color: var(--soft-blue);
}
.actualizacionComiciones p span{
    font-size: 1.4;
    font-weight: 500;
    color: var(--black);
}